{{ define "main" }}
    <div class="columns is-multiline">
        <div class="column is-half mt-4">
            <h1 class="has-text-centered is-size-1">{{ .Title }}</h1>
            <h2 class="is-size-6">{{ .Date | time.Format ":date_medium" }}</h2>
        </div>

        <div class="column is-half">
            Tags:
            {{ range .GetTerms "tags"}}
            <a class="mr-1 is-underlined" href="{{ .RelPermalink }}">
                #{{ .LinkTitle }}
            </a>
            {{ end }}
        </div>

        <div class="column is-half">
            <div class="content">
                {{ .Content }}
            </div>
        </div>

    </div>
{{ end }}
